* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("/images/ceu.jpeg");
    background-size: cover;
    background-position: top;
    background-color: rgb(64, 64, 117);
}

/* cabeçalho */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    background-color: transparent;
    border: 2px solid rgb(153,50,204);
    border-radius: 40px;

}

p {
    font-size: 14px;
    color: #fff;
}


/* part section */ 


section {

    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520px;
    background-color: transparent;
    border: 3px solid rgb(153,50,204);
    border-radius: 30px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
}

input {
    width: 95%;
    height: 30px;
    margin: 15px;
    border: none;
    border-bottom: 2px solid rgb(153,50,204);
    border-radius: 40px;
    background-color: transparent;
    outline: 0;
    color: #fff;


}

input::placeholder{ 
    text-align: center;
    color: #fff;
    font-size: 13px;

}

.login {
    background-color: transparent;
    width: 95%;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border: none;
    border-left: 2px solid rgb(153,50,204);
    border-right: 2px solid rgb(153,50,204);
    border-radius: 45px;
    text-transform: uppercase;
    font-size: 12px;
}

.login:hover{ 
    background-color: #fff;
    transition: 2s;
    color: black;
    cursor: pointer;
}

input::-webkit-inner-spin-button{ 
    -webkit-appearance: none;
    margin: 0;
}
























/* rodapé */

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   
}

#foot{ 
    color: #fff;
    font-size: 13px;
}











